@{
    ViewData["Title"] = "Setup";
    ViewData["SetupTitle"] = "Defaults";
    ViewData["SetupStep"] = 4;
    ViewBag.BreadCrumbs = new string[] { "Hardware", "Lights", "Branches", "Defaults" };
    ViewBag.ShowProgress = true;
    @model ChristmasPi.Models.SetupDefaultsModel;
}
@section Scripts {
<script>
    $(function () {
    $('#setup-colorpicker').colorpicker({
        inline: true,
        container: false,
        format: "rgb",
        useAlpha: false,
        customClass: 'colorpicker-2x',
        sliders: {
            saturation: {
                maxLeft: 200,
                maxTop: 200
            },
            hue: {
                maxTop: 200
            },
            alpha: {
                maxTop: 200
            }
        }
    });
    $('#setup-colorpicker').on('colorpickerChange colorpickerCreate', function (event) {
        $("#color").val(event.color.toString());
    });
});
</script>
}
@if (Model.HasError) {
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}
<form asp-action="SubmitDefaults" asp-controller="Setup">
    <div class="form-group">
        <label>Default Mode</label>
        <select asp-for="mode" id="mode">
            @foreach (string mode in Model.DefaultModes) {
                <option>@mode</option>
            }
        </select>
        <br>
        <label>Default Animation</label>
        <select asp-for="animation" id="animation">
            @foreach (string animation in Model.DefaultAnimations) {
                <option>@animation</option>
            }
        </select>
        <br>
        <div id="setup-colorpicker" data-color="rgb(@Model.DefaultColor.R, @Model.DefaultColor.G, @Model.DefaultColor.B)"></div>
        <input asp-for="color" type="hidden" id="color" value="" />
        <input type="submit" class="btn btn-primary" id="submitbtn" value="Submit"/>
    </div>
</form>