@{
    ViewData["Title"] = "Setup";
    ViewData["SetupTitle"] = "Hardware";
    ViewData["SetupStep"] = 1;
    ViewBag.BreadCrumbs = new string[] { "Hardware" };
    ViewBag.ShowProgress = true;
    @model ChristmasPi.Models.SetupHardwareModel;
}
@if (Model.HasError) {
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}
<form asp-action="SubmitHardware" asp-controller="Setup">
    <div class="form-group">
        <label>Data Pin</label>
        <input asp-for="datapin"class="form-control" id="datapininput" placeholder="@Model.Placeholder" oninput="ValidateHardware()"/>
        <label>Renderer</label>
        <select asp-for="renderer" id="renderer">
            @foreach (string renderer in Model.Renderers) {
                <option>@renderer</option>
            }
        </select>
        <br>
        <input type="submit" class="btn btn-primary" id="submitbtn" value="Submit" disabled="false" />
    </div>
</form>
<input type="hidden" id="validationstring" value="@Model.ValidationString" />
<div style="height: 25px">
    <p>&nbsp;</p>
</div>
<img src="@Model.Image" alt="Hardware Pin Diagram" />
<div style="height: 25px">
    <p>&nbsp;</p>
</div>
<!--<a class="btn btn-primary btn-lg" onclick="next()" role="button">Next</a>-->