@{
    ViewData["Title"] = "Setup";
    ViewData["SetupTitle"] = "Lights";
    ViewData["SetupStep"] = 2;
    ViewBag.ShowProgress = true;
    ViewBag.BreadCrumbs = new string[] { "Hardware", "Lights" };
    @model ChristmasPi.Models.SetupLightsModel;
    ViewBag.StartPercent = String.Format("{0}%", Math.Floor((Model.DefaultBrightness / 255) * (double)100));
}
@section Scripts {
<script type="text/javascript">
    $(function () {
        $('#brightness-slider').on('input', function (e) {
            var ammount = e.target.value;
            var percent = Math.round((ammount / 255) * 100);
            $("#brightnessvalue").text(`${percent}%`);
        });
    });
    function ValidateLights() {
        // light count can't be zero
        var lightcount = $("#lightcount").val();
        var maxstr = $("#lightcount").prop("max");
        try {
            var count = parseInt(lightcount);
            var max = parseInt(maxstr);
            if (count === 0 || count > max) {
                $("#lightcount").addClass("error");
                $("#submitbtn").prop("disabled", true);
            }
            else {
                $("#lightcount").removeClass("error");
                $("#submitbtn").prop("disabled", false);
            }
        }
        catch {
            $("#lightcount").addClass("error");
            $("#submitbtn").prop("disabled", true);
        }
    }
</script>
}
@if (Model.HasError) {
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}
<form asp-action="SubmitLights" asp-controller="Setup" onchange="ValidateLights()" onload="ValidateLights()">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Number of lights</span>
            </div>
            <input id="lightcount" asp-for="lightcount" type="number" min="1" max="@ChristmasPi.Data.Constants.LIGHTS_MAX" value="0" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">FPS</span>
            </div>
            <input asp-for="fps" type="number" min="1" max="@ChristmasPi.Data.Constants.FPS_MAX" value="@ChristmasPi.Data.Constants.FPS_DEFAULT" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Brightness</span>
                <span class="input-group-text" id="brightnessvalue">@ViewBag.StartPercent</span>
            </div>
            <input asp-for="brightness" type="range" class="custom-range" id="brightness-slider" min="0" max="255" step="1" value="@Model.DefaultBrightness">
        </div>
        <br>
        <input type="submit" class="btn btn-primary" id="submitbtn" value="Submit" disabled="false" />
    </div>
</form>