@{
    ViewData["Title"] = "Solid Page";
    ViewData["ActivePage"] = "Solid";
    @model ChristmasPi.Models.SolidModel;
    ViewBag.TreeName = Model.TreeName;
}
@section Scripts {
<script type="text/javascript">
    var currentColor;
    $(function () {
        $('#cp2').colorpicker({
            inline: true,
            container: false,
            format: "rgb",
            useAlpha: false,
            customClass: 'colorpicker-2x',
            sliders: {
                saturation: {
                    maxLeft: 200,
                    maxTop: 200
                },
                hue: {
                    maxTop: 200
                },
                alpha: {
                    maxTop: 200
                }
            }
        });
        $('#cp2').on('colorpickerChange colorpickerCreate', function (event) {
            currentColor = event.color.toString();
        });
    });
    function SetColor(colorstring) {
        $("#cp2").colorpicker('setValue', colorstring);
    }
    function SubmitColor() {
        // get color
        var color = currentColor;
        console.log(color);
        // /api/solid/update?color=db7b26
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", function () {
            if (this.status !== 200) {
                showErrorModal("Failed to set color");
            }
            else {
                location.reload();
            }
        });
        //oReq.open("POST", "/api/solid/update?color=" + color);
        oReq.open("POST", "/api/solid/update");
        oReq.setRequestHeader("Content-Type", "application/json");
        oReq.send(JSON.stringify({ color: color }));
    }
</script>
}

<div id="cp2" data-color="rgb(@Model.CurrentColor.R, @Model.CurrentColor.G, @Model.CurrentColor.B)"></div>
<button class="btn btn-just-icon" id="default-color" style="background-color: @ChristmasPi.Util.ColorConverter.ToHex(Model.DefaultColor)"
    onclick="SetColor('@ChristmasPi.Util.ColorConverter.ToHex(Model.DefaultColor)')">
    <i class="nc-icon nc-palette"></i>
</button>
<button class="btn btn-primary" onclick="SubmitColor()">Update</button>